@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}
.video-wrapper.expanded {
  height: 600px;
}
